.header {
    margin: 0 !important;
}

.promo-card {
    height: 500px;
    padding: 10px;
    background-color: #4c86b4;
}

.promo-card:hover {
    cursor: pointer;
    opacity: 90%;
}

.promo-image {
    height: 350px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    opacity: 80%;
}

.title {
    font-size: 20px !important;
    font-weight: 500;
    margin-top: 10px;
}

.card-subtitle {
    font-size: 16px !important;
    font-weight: 400;
    margin-bottom: 12px !important;
}
