.mat-drawer-container {
    background-color: #e6eff6 !important;
}

.sidenav-container {
    height: 100vh;
}

.header {
    font-size: 22px;
    margin: 0;
    color: white;
    line-height: 100px;
    text-align: center;
    user-select: none;
}

hr {
    margin: 0;
    background-color: black;
    opacity: 50%;
}

.sidenav {
    width: 13vw;
    background-color: #2a4d69;
    /* padding: 0 20%; */
}

.sidenav a {
    text-align: center;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    box-sizing: border-box;
    transition: .4s;
}

::ng-deep .mat-list-base .mat-list-item .mat-list-item-content{
    padding: 0 23% !important;
}

.icon {
    margin-right: 10px;
}

.list-item{
    width: 100%;
}

.navbar {
    height: 10vh;
    width: 100vw;
    background-color: #4c86b4;
    display: flex;
    align-items: center;
}

.menu-icon {
    color: #fff;
    font-size: 32px !important;
    margin-left: 20px;
}