.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.promo-card {
    padding: 10px;
}

.header {
    display: flex;
    justify-content: center;
    text-align: center;
}

.promo-image {
    background-size: cover;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.card-subtitle {
    margin-bottom: 12px !important;
}

.loading-spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }