<div class="form-container">
    <div>
        <h1>Add New Promo</h1>
        <button (click)="closeDialog()"><mat-icon class="close-icon">close</mat-icon></button>
    </div>
    <form [formGroup]="promoForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput formControlName="title" placeholder="Title">
            <mat-error *ngIf="promoForm.get('title').invalid && promoForm.get('title').touched">Title is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="sub_title" placeholder="Subtitle">
            <mat-error *ngIf="promoForm.get('sub_title').invalid && promoForm.get('sub_title').touched">Subtitle is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="description" placeholder="Description">
            <mat-error *ngIf="promoForm.get('description').invalid && promoForm.get('description').touched">Description is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="image_url" placeholder="Image URL">
            <mat-error *ngIf="promoForm.get('image_url').invalid && promoForm.get('image_url').touched">Image URL is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-select formControlName="status" placeholder="Status">
                <mat-option value="active">Active</mat-option>
                <mat-option value="inactive">Inactive</mat-option>
            </mat-select>
            <mat-error *ngIf="promoForm.get('status').invalid && promoForm.get('status').touched">Status is required</mat-error>
        </mat-form-field>
    
        <button mat-raised-button class="button" type="submit" [disabled]="promoForm.invalid">Submit</button>
    </form>
    
</div>